:root {
	--color-white: #ffffff;
	--color-black: #000000;

	--color-error: #da5050;

	--color-border: #d9dbe3;

	--color-link: #348bff;
	--color-primary: #5233ed;
	--color-sec: #da8a08;
	--color-title: #171768;
	--color-gray: #5e5656;
	--color-text: #30323d;
}